<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ice Cream Form</title>
  <link rel="icon" href="images/iceCreamIcon.png">
   <link rel="stylesheet" href="/styles/styles.css">
    
</head>
<body>
  <main>
  <h1>Ice Cream Order Form</h1>
 <form id="ice-cream-form" action="#" method="get">

    <fieldset>
      <legend>Personal Infomation</legend>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
       <span class="err" id="err-name">Name is required.</span>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
      <span class="err" id="err-email">Email is required. include @ </span>
    </fieldset>

    <fieldset>
  <legend>Order Details</legend>

  <p>Chose your flavor:</p>
  <select id="flavor" name="flavor">
    <option value="none" selected>-- Select a flavor --</option>
    <option value="vanilla">Vanilla</option>
    <option value="chocolate">Chocolate</option>
    <option value="strawberry">Strawberry</option>
    <option value="mint">Mint</option>
  </select>
  <span class="err" id="err-flavor">Please select a flavor.</span>
  <p>Chose your cone:</p>

  <label for="waffle-cone">
    <input type="radio" name="cone" id="waffle-cone">Waffle Cone
</label>

  <label for="sugar-Cone">
    <input type="radio" name="cone" id="sugar-Cone">
    Sugar Cone
  </label>

  <label for="cup">
    <input type="radio" name="cone" id="cup">
    Cup
  </label>
  <span class="err" id="err-cone">Please select a cone.</span>
  <br>
<p>Toppings:</p>
  <label>
    <input type="checkbox" name="toppings" id="sprinkles">
    Sprinkles
  </label>
  <label>
    <input type="checkbox" name="toppings" id="Nuts">
    Nuts
  </label>
  <label>
    <input type="checkbox" name="toppings" id="Cherry">
    Cherry
  </label>
  <label>
    <input type="checkbox" name="toppings" id="whipped-cream">
    Whipped Cream
  </label>
  <br>
  <br>
  
  <label for="comment">Additional comments:</label>
<textarea rows="5" id="comment" name="comment"></textarea>
</fieldset>

<button type="submit" id="Order-button">Submit Order</button>
    
</form>
    </main>
    <script src="/js/ice-cream.js"></script>
  </body>
</html>