* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3edf3;
}
main {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
}
legend {
  color: darkgreen;
  text-align: center;
  font-weight: bold;
}
fieldset {
  padding: 2rem;
  margin-bottom: 1.25rem;
  border-radius: .5rem;
}
input[type="text"] , input[type = "email"], textarea, select {
    width: 100%;
    border: 1px solid rgb(20, 20, 20);
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .75rem;
}
h1 {
  text-align: center;
  
}
#Order-button {
   border: none;
  background-color: darkgreen;
  color: white;
  display: block;
  padding-block: 1rem;
  margin: 1rem auto;
  border-radius: .25rem;
  width: 100%;
}

.err {
    color: darkred;
    display: none;
}


